<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Enviar parámetros del request HTTP GET - URL</title>
</head>
<body>
	<h1>Enviar parámetros del request HTTP GET - URL</h1>
	<ul>
	<li>
	<a th:href="@{/params/string(texto='Hola Pedro')}"> mensaje uno </a>
	</li>
	<li>
	<a th:href="@{/params/string(texto='Hola Sofia')}"> mensaje dos </a>
	</li>
	<li>
	<a th:href="@{/params/string(texto='Hola Leonor')}"> mensaje tres </a>
	</li>
	<li>
	<a th:href="@{/params/mix-params(texto='Hola Leonor', numero = 22)}"> mensaje tres </a>
	</li>
	</ul>
</body>
</html>